# Python

interactive shell, scripts

jupyter notebooks is somewhere in between
- shell: you can't go back and edit what you just wrote
- script: you have to run the whole thing, a bit harder to get "outputs"

Also, you can format things!

- "shift" + "enter" runs the current cell, this enters command mode.
- press "esc" to enter command mode, "enter" (or double click) to exit it.
- in command mode, press A to add a cell above, B to add a cell below

## Python as a calculator

In [ ]:
3 + 5

In [ ]:
8/5 # maybe surprising, if you've used python2. (add comments with "#")

In [ ]:
3 - 4
4 * 12

In [ ]:
print(3-4)
print(4*12)
print(4^3)
print(11 + 25)
print(2.0 + 23)

## What??

In [ ]:
print(4**3)

## Try it yourself!

## Suppose I have $500 in my bank account which gets 10% interest per year. 

## How much will I have in 10 years?

In [ ]:
print(500 * (1.10 ** 10))

In [ ]:
print(500 * 1.10 ** 10)
print(500 * 1.10**10)
print(500*1.10**10)

## But:

In [ ]:
print(500(1.10**10))

## What did those numbers mean?

Use **variables** to help make your code clearer, make it easy to change things.

### Variables
- contain letters, numbers and underscore
- start with letter (or underscore)
- try to give them descriptive and ideally also short names!
- usually written in snake_case or camelCase (pick one and be consistent!)

Assign using "=", means "evaluate the right hand side, store it in the variable on the left hand side"

In [ ]:
starting_amount = 500
interest = 1.10
years = 10

final_amount = starting_amount * (interest ** years)

In [ ]:
print(final_amount)

## Types
So far, we have only seen numbers, to see the type of a variable "x", type "type(x)"

In [ ]:
print(type(starting_amount))
print(type(interest))
print(type(years))

- int means integer (whole number, positive or negative)
- float means floating point number (real number)

### Strings and booleans
- **strings** are sequences characters in single or double quotation marks
- **booleans** are used for logical operations, can only be True or False (no quotation marks, first letter capitalized)

In [ ]:
name = "Thomas"
print(name)
print(type(first_name))

In [ ]:
name = 'Thomas'
print(name)

In [ ]:
name = Thomas # error

In [ ]:
python_is_fun = True
type(python_is_fun)

### Types decide what we can do
Python usually lets us do most reasonable things!

In [ ]:
greeting = "Hello"
name = "Thomas"
print(greeting + name)

In [ ]:
print(greeting + 3)

In [ ]:
print("2" + 3)

### Type conversion
- int(x) converts x to an integer (if possible)
- str(x) converts x to a string (if possible)
- bool(x) converts x to a boolean (if possible)
- float(x) converts x to a floating point number (if possible)

In [ ]:
print(int("2") + 3)
print("2" + str(3))

### Exercise
which of the following cause an error? (if possible, fix them!)

In [ ]:
"I'm " + 30 + " years old"
False + True
30 + True
"Hello" + 10
"Hello" * 10
"This is " + True