# More Python
We will learn about logical statements, if statements, lists and for loops. At the end you will have seen enough of Python to (technically) be able to write any program you might want to (but learning more will make that easier!).
## Comparisons
- `==` equal
- `!=` not equal
- `>` greater than
- `<` less than
- `>=` greater than or equal to
- `<=` less than or equal to

In [1]:
print(2 == 3)
print(2 == 2.0)
print(2 == "2")
print("python" == "Python")
print(10 != 11)
print(3 > 5)
print(23.3 < 24)
print(10 >= 9.0)
print(100.1 <= 101.1)

False
True
False
False
True
False
True
True
True

Of course, it's more interesting if it involves variables. Suppose we read `age_1` and `age_2` from a file

In [2]:
age_1 = 20
age_2 = 17
print(age_1 == age_2)
print(age_1 != age_2)
print(age_1 >= age_2)
print(age_1 >= 18)
print(age_2 >= 18)

False
True
True
True
False

## Logical statements
- `x and y` is `True` if both `x` and `y` are.
- `x or y` is `True` if at least one of `x` and `y` are.
- `not x` is `True` if `x` is `False`.

In [3]:
age = 16
height = 145
print(age > 10 and height > 130)
print(age > 10 and height > 150)
print(age > 10 or height > 150)

True
False
True

## if statement 
Think flowchart

if logical_statement:
    do this # (indented four spaces)
elif logical_statement: # optional (any number) can be completely unrelated, but usually related 
    do this
else: # also optional
    do this

In [8]:
import datetime
if datetime.date.today() > datetime.date(2025, 7, 12):
    print("I hope you're having fun reviewing!")

else:
    print("none")

none

## Example
Suppose there's a rollercoaster you need to be at least 10 years old and 130 cm tall to ride.

In [9]:
age = 16
height = 145

if age >= 10 and height >= 130:
    print("you can ride the rollercoaster!")

you can ride the rollercoaster!

In [10]:
age = 9
height = 125

if age >= 10 and height >= 130:
    print("you can ride the rollercoaster!")
elif age >= 10 and not height >= 130:
    print("you're too short")
elif not age >= 10 and height >= 130:
    print("you're too young")
else:
    print("you're both too young and too short")

you're both too young and too short

## Example
Let's find the maximum of two ages.

In [11]:
# max
age_1 = 25
age_2 = 31
if age_1 > age_2:
    print("age_1 is bigger than age_2, so the max age is age_1")
    max_age = age_1
else:
    print("age_1 is not bigger than age_2, so either they are equal, or age_2 is bigger. In both cases the max age is equal to age_2")
    max_age = age_2
print("max is:")
print(max_age)

age_1 is not bigger than age_2, so either they are equal, or age_2 is bigger. In both cases the max age is equal to age_2
max is:
31

## EXERCISE: 
- 80 -- 100: A, 
- 68 -- 79: B, 
- 60 -- 67: C, 
- below 60 FAIL, 
write answer in livechat when you're done!

In [35]:
grade_percentage = 101

if grade_percentage >= 80 and grade_percentage <= 100:
    grade = "A"
elif grade_percentage >= 68:
    grade = "B"
elif grade_percentage >= 60:
    grade = "C"
else:
    grade = "FAIL or N/A"

print(grade)

B

## Lists
Another type. Elements are surrounded by square brackets and separated by commas.

Useful for 
- repeating actions (given a list of file names, load each into pandas and do stuff)
- aggregating things (sum a list of numbers, find the maximum)

In [13]:
room_areas = [78.4, 116.3, 109.8, 265.3, 136.4]
print(room_areas)

[78.4, 116.3, 109.8, 265.3, 136.4]

## Indexing
The first element has index 0.

In [14]:
print(room_areas[0])
print(room_areas[3])
print(room_areas[-1]) # last element

78.4
265.3
136.4

`append` adds another element to the list. `+` concatenates two lists.

In [15]:
room_areas.append(121.2)

In [16]:
print(room_areas)

[78.4, 116.3, 109.8, 265.3, 136.4, 121.2]

In [17]:
more_room_areas = [208.4, 140.0, 89.2, 98.3, 70.4]

In [18]:
print(room_areas + more_room_areas)

[78.4, 116.3, 109.8, 265.3, 136.4, 121.2, 208.4, 140.0, 89.2, 98.3, 70.4]

# range
`list(range(x))` creates a list of the numbers from `0` to `x-1`. Often useful!

In [19]:
print(list(range(10)))
print(list(range(3,10)))
print(list(range(3, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[3, 5, 7, 9]

## for loops
(like "for each" loops in some other languages).

for x in list:
    do stuff

Sets `x` to the first element (i.e., 0th) in the list and does stuff then sets `x` to the second element in the list and does stuff, and so on

## Example
I have 500 dollars in a bank account, with 10% interest. But now theres a 10 dollar fee at the end of each year. How much will have after 10 years?

In [22]:
# interest example
# 500 dollars, 10% interest, 10 years. 
# 10 dollar fee! due at the end of the year
starting_amount = 500
years = list(range(10))
print(years)
interest_rate = 1.10
fee = 10

current_amount = starting_amount
for year in years:
    current_amount = current_amount * interest_rate - fee
#    print("at the end of year " + str(year) + " we have " + str(current_amount))  # we need to limit decimal to 2 to make output clean
    print("at the end of year " + str(year) + " we have " + "{:.2f}".format(current_amount))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
at the end of year 0 we have 540.00
at the end of year 1 we have 584.00
at the end of year 2 we have 632.40
at the end of year 3 we have 685.64
at the end of year 4 we have 744.20
at the end of year 5 we have 808.62
at the end of year 6 we have 879.49
at the end of year 7 we have 957.44
at the end of year 8 we have 1043.18
at the end of year 9 we have 1137.50

## EXERCISE
Compute the number of rooms

In [ ]:
room_areas = [78.4, 116.3, 109.8, 265.3, 136.4, 208.4, 140.0, 89.2, 98.3, 70.4]

number_of_rooms = 0
for area in room_areas:
    number_of_rooms += 1
print(number_of_rooms)

## EXERCISE
Compute the total area

In [25]:
room_areas = [78.4, 116.3, 109.8, 265.3, 136.4, 208.4, 140.0, 89.2, 98.3, 70.4]

total_area = 0
for area in room_areas:
    total_area += area
print("the total area is" + str(total_area))

the total area is1312.5

## EXERCISE
Find the area of the largest room

In [ ]:
# largest room
room_areas = [78.4, 116.3, 109.8, 265.3, 136.4, 208.4, 140.0, 89.2, 98.3, 70.4]

max_area = 0
for area in room_areas:
    if area > max_area:
        max_area = area
    else:
        None
print("the largest room's area is " + str(max_area))

In [27]:
room_areas = [78.4, 116.3, 109.8, 265.3, 136.4, 208.4, 140.0, 89.2, 98.3, 70.4]
large_areas = []
for area in room_areas:
    if area > 100:
        large_areas.append(area)
print(large_areas)

[116.3, 109.8, 265.3, 136.4, 208.4, 140.0]

In [ ]:
# methods and functions
# these things are things you often want, shouldn't write them yourself (other than to practice)
# functions: min, max, sum, also work for other things -- fun if you use them as variables
# in-operator, +
# methods -- part of lists
# index, append, sort, reverse

## Methods and functions
Of course, many of the above things are really useful, and you shouldn't write them yourself (other than as practice)

### Functions
The `min`, `max`, `sum` functions and the `in` operator also work for things other than lists. Be careful about naming a variable `max`

### Methods
`index`, `append`, `sort` and `reverse` are only for lists.

In [28]:
# useful things
# min, max, sum, in, index
# sort, reverse
print(min(room_areas))
print(max(room_areas))
print(sum(room_areas))
print(116.3 in room_areas)
print(117.0 in room_areas)
print(room_areas.index(109.8)) # error if not in list

70.4
265.3
1312.5
True
False
2

In [29]:
# check out help(list)

In [30]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [32]:
room_areas.sort()
print(room_areas)

[70.4, 78.4, 89.2, 98.3, 109.8, 116.3, 136.4, 140.0, 208.4, 265.3]

In [ ]:
room_areas

In [33]:
room_areas.reverse()
print(room_areas)

[265.3, 208.4, 140.0, 136.4, 116.3, 109.8, 98.3, 89.2, 78.4, 70.4]